.projectcard{
    width: 100%;
    aspect-ratio: 1;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &:hover &__overlay {
        transform: translateX(0);
    }

    &__image{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay{
        position: absolute;
        overflow: hidden;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #2d3e4fb4;
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.5rem;
        transition: all ease-in-out 0.7s;
        transform: translateX(-100%);
        padding: 0.5rem;
        color: white;

        @media screen and (min-width:768px) {
            display: flex;
        }

        &-tags{
            display: flex;
            gap: 0.5rem;
            font-size: 0.7rem;
        }
    }
}