.skills{
    padding: 1rem 0;
    max-width: 600px;
    margin: auto;

    &__title{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.2rem;
        color: #2d3e4f;
    }

    &__content{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        margin-top: 0.5rem;
    }
}