.skillbar{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0.5rem;

    &__title{
        font-size: 0.9rem;
    }

    &__wrapper{
        width: 150px;
        height: 10px;
        position: relative;
        background-color: #d4d4d4;
    }

    &__score{
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: #cf404d;
    }
}