.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3e4f;
    color: white;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    @media screen and (min-width: 768px){
        position: fixed;
        height: 100vh;
        width: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__logo{
        padding-left: 1.5rem;
        max-width: 120px;
        display: block;
        filter: brightness(100);
        cursor: pointer;

        &:hover{
            filter: none;
        }

        @media screen and (min-width: 768px){
            padding: 0;
            margin-bottom: 1.5rem;
            font-size: 2rem;
            max-width: 140px;
        }
    }

    &__nav{
        display: none;
        background-color: #49647b;

        @media screen and (min-width: 768px){
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1rem;
            background-color: transparent;
            width: 100%;
            padding: 1rem;
            transform: translateY(0);
        }

        &--active{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 60px;
            background-color: #49647b;
            gap: 1rem;
            width: 100%;
            left: 0;
            padding: 1rem;
            transition: transform 0.5s ease-in-out;
        }

        &-link{
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            width: fit-content;
            margin: 0;

            @media screen and (min-width: 768px) {
                margin: auto;
            }

            &:hover{
                color: #cf404d;
            }

            &--active{
                color: white;
                text-transform: uppercase;
            }
        }
    }

    &__button{
        border: none;
        background-color: #2d3e4f;
        padding: 1.5rem;
        font-size: 1.4rem;
        transition: all 0.5s ease-in-out;
        z-index: 15;
        cursor: pointer;

        &--active{
            border: none;
            background-color: #cf404d;
            color: white;
            padding: 1.5rem;
            font-size: 1.4rem;
            transition: all 0.5s ease-in-out;
            z-index: 15;
            cursor: pointer;
        }

        &-line1{
            width: 25px;
            height: 2px;
            background-color: white;
            margin-bottom: 0.5rem;
            transition: all 0.6s ease-in-out;
            transform: translateY(0) rotate(0);

            &--active{
                width: 25px;
                height: 2px;
                background-color: white;
                margin-bottom: 0.5rem;
                transform: translateY(0.3rem) rotate(-45deg);
                transition: transform 0.6s ease-in-out;
            }
        }

        &-line2{
            width: 15px;
            height: 2px;
            background-color: white;
            float: right;
            transition: all 0.6s ease-in-out;
            transform: translateY(0) rotate(0);

            &--active{
                width: 25px;
                height: 2px;
                background-color: white;
                transform: translateY(-0.3rem) rotate(45deg);
                transition: all 0.6s ease-in-out;
                float: right;
            }
        }
        
        @media screen and (min-width: 768px){
            display: none;
        }
    }

    &__social{
        bottom: 1rem;
        left: 1rem;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        transform: translateX(-1rem);

        @media screen and (min-width: 768px) {
            bottom: 1rem;
            left: 1rem;
            justify-content: center;
            transform: translateX(0);
        }

        &-link{
            color: white;
            cursor: pointer;
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover{
                color: #cf404d;
            }
        }
    }
}

.mobile{

    &__background{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 50;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -180px;
        background-color: #49647b;
        gap: 1rem;
        width: 100%;
        left: 0;
        padding: 1.5rem;
        z-index: 90;
        visibility: hidden;
        transition: top 0.5s ease-in-out, visibility 0s 0.5s;

        @media screen and (min-width: 768px){
            display: none;
        }

        &--active{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 60px;
            background-color: #49647b;
            gap: 1rem;
            width: 100%;
            left: 0;
            padding: 1.5rem;
            visibility: visible;
            transition: top 0.5s ease-in-out;
            z-index: 90;
        }

        &-link{
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            cursor: pointer;
            width: fit-content;
            margin: 0;

            &:hover{
                color: #cf404d;
            }

            &--active{
                color: white;
                text-transform: uppercase;
            }
        }
    }

    &__social{
        font-size: 1.1rem;
        display: flex;
        gap: 1rem;
        align-items: center;

        &-link{
            color: white;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 1.5rem;
            padding: 0.25rem 0;

            &:hover{
                color: #cf404d;
            }
        }
    }
}