.aboutpage{

    &__hero{
        background: url(/images/background-page.webp) no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        width: 100%;
    }

    &__content{
        max-width: 1100px;
        margin: auto;
        text-align: center;
        padding: 2rem 0;

        &-image{
            width: 100%;
            max-width: 100px;
            border-radius: 9999px;
            margin-top: 1rem;
        }

        &-title{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
            color: #2d3e4f;
        }

        &-text{
            padding: 1rem 0 0 0;
            font-weight: 300;
            font-size: 1rem;
        }
    }

    &__link-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
    }

    &__link{
        color: rgb(206, 64, 77);
        width: fit-content;

        i{
            font-size: 1.2rem;
        }
    }
}