.contactpage{

    &__hero{
        background: url(/images/background-page.webp) no-repeat;
        background-position: center;
        background-size: cover;
        height: 350px;
        width: 100%;
    }

    &__content{
        max-width: 900px;
        margin: auto;
        text-align: center;
        padding: 1rem 2rem;

        &-title{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
            color: #2d3e4f;
            padding-bottom: 0.5rem;
        }

        &-text{
            font-weight: 300;
            font-size: 1rem;
            padding-bottom: 0.5rem;
        }
    }
}