.project{
    text-align: left;
    padding: 1rem 0;
    max-width: 1100px;
    margin: 2.7rem auto 0;

    @media screen and (min-width:768px) {
        margin: 0 auto;
    }

    &__title{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        color: #2d3e4f;
        text-align: center;
        margin-top: 1rem;
    }

    &__image-wrapper{
        position: relative;
        padding: 0 1rem;
    }

    &__image-desktop{
        width: 100%;
    }

    &__image-mobile{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 110px;

        @media screen and (min-width:768px) {
            width: 240px;
        } 
    }

    &__content{
        padding: 0 1.5rem 1rem;
        max-width: 800px;
        margin: auto;

        &-description{
            padding: 1rem 0;
            font-weight: 300;
            font-size: 1rem;
        }
    }

    &__objectifs{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;

        ul{
            padding: 0 1.2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &-objectif{
            font-weight: 300;
            font-size: 1rem;
        }
    }

    &__link-wrapper{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__link{
        text-decoration: none;
        color: #cf404d;
    }

    &__stacks{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;

        &-wrapper{
            display: flex;
            gap: 0.5rem;
        }
        
        &-stack{
            font-weight: 300;
            font-size: 1rem;
        }
    }

    
}