.projectpage{
    

    &__content{
        max-width: 1100px;
        margin: 5rem auto 0;
        text-align: center;

        &-title{
            text-transform: uppercase;
            font-weight: 400;
            font-size: 2rem;
            color: #2d3e4f;
        }

        &-text{
            padding: 1rem 0 0 0;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}