.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    &__title{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        color: #2d3e4f;
    }

    &__link{
        margin: 2rem auto;
        display: flex;
        width: 450px;
        height: 300px;

        &-image{
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    &__dots{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        height: 75px;
        
        &-dot{
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;

            i{
                font-size: 1rem;
            }

            &--hidden{
                visibility: hidden;
            }

            img{
                width: 75px;
                height: 75px;
                object-fit: cover;
                display: block;
            } 
        }

        
    }
}