.slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    &__title{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2rem;
        color: #2d3e4f;
    }

    &__link{
        margin: 2rem auto;
        display: flex;
        width: 100%;
        max-width: 450px;
        max-height: 300px;

        &-image{
            display: block;
            width: 100%;
            object-fit: cover;
        }
    }

    &__dots-wrapper{
        display: flex;
        flex-direction: row;
    }

    &__dots{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        height: 75px;
        width: 241px;
        overflow: hidden;

        &-arrow{
            background: none;
            border: none;
            font-size: 1.2rem;
            color: #2d3e4f;
            cursor: pointer;

            &--hidden{
                visibility: hidden;
            }
        }
        
        &-dot{
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            i{
                font-size: 1rem;
            }

            img{
                width: 75px;
                height: 75px;
                object-fit: cover;
                display: block;
            } 
        }

        
    }
}