*{
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: "oswald", sans-serif;

    @media screen and (min-width:1200px) {
      font-size: 18px;
    }
}

#root {
  display: flex;
  flex-direction: column;
}

html, body, #root {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  flex: 1;

  @media screen and (min-width:768px) {
    margin-left: 250px;
  }
}